version: '3.8'

services:
  # Backend API
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: software_license_api
    environment:
      DATABASE_URL: postgresql://license_admin:${DB_PASSWORD:-LicenseDemo@2025}@${DB_HOST:-217.217.252.57}:${DB_PORT:-5433}/software_license?schema=public
      PORT: 3001
      NODE_ENV: production
      JWT_SECRET: ${JWT_SECRET:-change_this_in_production}
      JWT_EXPIRES_IN: 7d
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT:-587}
      SMTP_SECURE: ${SMTP_SECURE:-false}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
      EMAIL_FROM: ${EMAIL_FROM:-Hệ thống quản lý <noreply@company.com>}
      FRONTEND_URL: ${FRONTEND_URL:-https://license.snpdemo.com}
      DEFAULT_REMINDER_DAYS: 90,60,30,7,1
      ENABLE_AUTO_NOTIFICATIONS: ${ENABLE_AUTO_NOTIFICATIONS:-true}
      AUTH_PROVIDER: local
    restart: unless-stopped
    network_mode: "host"
